[submodule "ProductionCode/SEP4-IoT"]
	path = ProductionCode/SEP4-IoT
	url = https://github.com/marker99/SEP4-IoT.git
[submodule "SEP4-IoT-TesterProject/fff"]
	path = SEP4-IoT-TesterProject/fff
	url = https://github.com/meekrosoft/fff
[submodule "SEP4-IoT-TesterProject/GoogleTestDemo"]
	path = SEP4-IoT-TesterProject/GoogleTestDemo
	url = https://github.com/ihavn/GoogleTestDemo
